.cards-article > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.cards-article > ul > li {
  background-color: var(--background-color);
}

.cards-article .cards-article-card-body {
  padding: 16px 0;
}

.cards-article .cards-article-card-image {
  line-height: 0;
}

.cards-article > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (width >= 900px) {
  .cards-article > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
