/* WKND Fonts - Source Sans Pro (body) + Asar (headings) */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&family=Asar&display=swap');

/* fallback fonts */
@font-face {
  font-family: source-sans-pro-fallback;
  size-adjust: 104.7%;
  src: local('Arial');
}

@font-face {
  font-family: asar-fallback;
  size-adjust: 110%;
  src: local('Georgia');
}
